<%- include('header'); -%>

<div class="container-fluid mb-4 bg-secondary p-3">
    <div class="col-sm-8 mx-auto text-center py-2 text-white">
        <h1 class="display-4">SOMETHING WENT WRONG</h1>
        <p class="lead ">Please wait while we are fixing this problem!</p>
    </div>
    <div class="container text-center">
        <h1>Error</h1>
        <p><%= message %></p>
    </div>
</div>

</body>